# Frontend
ta-tool-frontend/node_modules/
ta-tool-frontend/dist/
ta-tool-frontend/.env
ta-tool-frontend/.env.*
ta-tool-frontend/*.local

# Backend
ta-tool-backend/venv/
ta-tool-backend/.env
ta-tool-backend/.env.*
ta-tool-backend/__pycache__/
ta-tool-backend/*.pyc

# General
*.log
.DS_Store
.vscode/
.idea/
